.filter-checkbox__label-text {
    margin-left: 14px;
    font-family: inherit;
    font-size: 13px;
    line-height: 18px;
}

@media screen and (max-width: 1023px) {
    .filter-checkbox__label-text {
        margin-left: 0;
        margin-right: 16px;
        font-size: 13px;
        line-height: 18px;
    }
}

@media screen and (max-width: 767px) {
    .filter-checkbox__label-text {
        margin-left: 0;
        margin-right: 13px;
        font-size: 13px;
        line-height: 18px;
    }
}