.card {
    max-width: 360px;
    width: 100%;
    position: relative;
    border-radius: 6px;
}

.card:hover .card__favourites-button{
    display: block;
}

.card:hover .card__delete-button{
    display: block;
}

@media screen and (max-width:1023px){
    .card{
        max-width: 339px;
    }
}

@media screen and (max-width:767px){
    .card{
        max-width: 300px;
    }
}