.search-form__input {
    width: 100%;
    border: none;
    font-family: inherit;
    font-weight: 500;
    font-size: 28px;
    line-height: 34px;
    color: #A0A0A0;
}

.search-form__input:focus {
    outline: none;
}

@media screen and (max-width: 767px) {
    .search-form__input {
        font-size: 18px;
        line-height: 22px;
    }
}