.moviesCardList__more-button {
    display: block;
    font: inherit;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    background-color: white;
    margin: 78px auto 0;
    width: 320px;
    height: 36px;
    border: 2px solid #E8E8E8;
    box-sizing: border-box;
    border-radius: 5px;
    appearance: none;
}

.moviesCardList__more-button:hover {
    transition: ease-in;
    opacity: 0.6;
}

@media screen and (max-width: 1023px) {
    .moviesCardList__more-button {
        margin: 62px auto 0;
    }
}

@media screen and (max-width: 767px) {
    .moviesCardList__more-button {
        margin: 63px auto 0;
        width: 240px;
        height: 36px;
    }
}