.not-found__text {
    padding: 0;
    margin: 5px 0 0;
    font-family: inherit;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
}

@media screen and (max-width: 767px) {
    .not-found__text {
        margin: 10px 0 0;
        font-size: 12px;
        line-height: 15px;
    }
}